#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease;
  color: #fff;
  padding: 10px 0; /* Adjust padding as needed */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar:hover {
  background-color: whitesmoke;
}

.navbar:hover .nav-link {
  color: black;
}

.navbar:hover .navbar-brand {
  color: black;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px; /* Adjust padding as needed */
  max-width: 1200px; /* Optional: Add a max-width for centering content */
  margin: 0 auto; /* Optional: Center the container horizontally */
}

.navbar-brand {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  /* color: black; */
  color: white;
}

.nav-link:hover {
  text-decoration: underline;
}

.slideshow img {
  width: 100vw;
  margin-top: -33px;
  margin-left: -33px;
}