@font-face {
  font-family: 'poloFont';
  src: url('/poloFont.ttf') format('truetype'); /* Adjust the path and format as needed */
}

body {
  font-family: 'poloFont', sans-serif; /* Use your font family */
  background-color: #FAF9F6;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.chungus {
  display: flex;
  flex: row;
}

.custom-sidebar {
  background-color: #141414; /* Background color */
  padding: 20px; /* Padding around the content */
  position: fixed; /* Change from sticky to fixed */
  top: 0; /* Stick to the top of the viewport */
  left: 0; /* Align to the left side of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  height: 100vh;
  width: 23vw;
}


.custom-sidebar #logo {
  max-width: 100%;
  width: 13rem; /* Adjust the width of the logo as needed */
  margin-bottom: 20px; /* Add margin below the logo */
}

.custom-sidebar .navbar-nav {
  width: 100%; /* Make the navbar take up full width */
  text-align: center; /* Align the navbar items to the center */
}

.custom-sidebar .navbar-nav .nav-item {
  margin-bottom: 2rem; /* Add margin between each navbar item */
}

.textandimage {
  /* border: 3px solid purple; */
  width: 1000px;
  display: flex;
  flex-direction: row;
  margin-left: 270px;
  margin-top: -50px;
  justify-content: space-around; 
}

.buh {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -1.4rem;
  /* border: 3px solid purple; */
  width: 294px;
}

.boop img {
  border: 3px solid black;
  transition: border 0.3s ease;
}

.boop img:hover {
  border: 4px solid gold;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center items horizontally */
  width: 500px;
  /* border: 5px solid purple; */
}

.table {
  width: 170%;
}

.table img {
  width: 100px;
}

.grid-container {
  margin-left: 262px;
  width: 76%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns, each taking up equal width */
  /* gap: 20px;  */
}

.grid-container img {
  width: 70%;
}


.text-container p {
  line-height: 1.5; /* Adjust the line height as needed */
  width: 450px;
}

.image-container {
  /* border: 5px solid black; */
}


.textandimage img:hover {
  filter: brightness(103%) contrast(103%);
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  font-family: 'poloFont', sans-serif; /* Use your custom font */
  color: white;
}

.nav-link:hover {
  color: gold;
}

.papa-container {
  /* border: 10px solid purple; */
  margin-left: 260px;
  width: calc(100vw - 260px); 
  margin-top: -32px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}


.slideshow-container {
}

.buttons-container {
  width: 100px;
  margin-left: 450px;
}

.buttons-container button {
  margin: 5px;
  padding: 4px 4px;
  border-radius: 10px;
  cursor: pointer;
}

.slideshow {
  width: 90%;
  margin-top: 20px;
  margin-left: 30px;
  overflow: hidden;
}

.slideshow img {
  width: 980px;
  height: 600px;
}

.image-span {
  display: inline-block;
  margin: 10px;
  position: relative; /* Add position: relative; */
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  padding: 5px;
}

.text-overlay:hover {
  cursor: pointer;
  color: black;
}

.shopButtons {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 30%;
  width: 50%;

}

.shopButtons:hover {
  color: gold;
}

.images-container {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  max-width: 100%;
}


.images-container img {
  width: 165px;
  height: 225px;
}

.images-container img:hover {
  transform: scale(1.05); /* Increase the scale to zoom in by 10% */
  cursor: pointer;
}

.product-container {
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
}

.product-info-container {
  display: flex;
  flex-direction: column;
}

